body{
    background-image:url("brewery-background-image.jpg");
   background-size:contain ;
   background-repeat:repeat;
}
img{
    width: 150px;
    margin-top:20px;
}
div{
    text-align: center;
}
input{
    background-image: url('Search\ icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #e0d8d8;
    padding: 12px 20px 12px 40px;
}
#input{
    height:30px;
    width: 40%;
}
.container{
    margin-top: 30px;
}
.card{
    background-image:linear-gradient(to right,rgb(235, 206, 152),rgb(236, 176, 66),rgb(218, 159, 50)) ;
}
button{
    background-color: rgb(211, 158, 61);
}